.pop-up {
  color: white;
  width: 224px;
  padding: 16px;
  background: rgb(6, 6, 39);
  background: linear-gradient(
    180deg,
    rgba(6, 6, 39, 1) 0%,
    rgba(11, 35, 90, 1) 50%,
    rgba(16, 55, 128, 1) 100%
  );

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    user-select: none;

    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      font-size: 14px;
      position: relative;
      top: 0;
      left: 0;
      height: 1.6em;
      width: 1.6em;
      border-radius: 50%;
      background: #ffeded38;
      transition: all 0.2s ease;
      opacity: 0.4;

      &:after {
        content: '';
        position: absolute;
        display: none;
        left: 0.61em;
        top: 0.43em;
        width: 0.25em;
        height: 0.5em;
        border: solid rgb(255, 255, 255);
        border-width: 0 0.15em 0.15em 0;
        transform: rotate(45deg);
      }
    }
  }
}

.pop-up .checkbox input:checked ~ .checkmark {
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  opacity: 0.9;
  transition: all 0.2s ease;

  &:after {
    display: block;
  }
}
